<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel="stylesheet" href="../funcunit/qunit/qunit.css">
  <script type="text/javascript" src="../steal/steal.js?test/test.js"></script>
</head>
<body>
  <p style="position:fixed;z-index:-9999;bottom:1em;left:1em">
    <code>test/test.js</code> must be generated depending on the test files
    in the system. If this page is blank, or you don't see a test here that
    you just added, run <code>grunt generate-test-file</code> and refresh.
  </p>
</body>
</html>
